<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= locals[:banner_image_url] %>);">
  <div class="container">
    <h1 class="text-center"><%= locals[:main_text] %></h1>
  </div>
</div>
