<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><i class="fa-solid fa-film me-3"></i>Movies</a>
    <%= link_to "My lists", root_path, class:"btn btn-outline-secondary ms-3" %>
  </div>
</nav>
